* {
    margin:0;
    padding:0;
}

html{
    font-size:13px;
    font-family:Arial;
    line-height: 1;
    color: #4f4f4f;
}

body {
    background: url(/static/images/before_reg_bg.png) repeat-x top left;
}

h2 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
    color: #000;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 11px;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    margin-bottom: 6px;
}

.no-cap {
    text-transform: none;
}

p {
    line-height: 16px;
    margin-bottom: 16px;
}

form p {
    line-height: 20px;
    margin-bottom: 8px;
    vertical-align: middle;
}

.right-align {
    text-align: right;
}

a:link,
a:visited {
    color: #0387d8;
}

a:hover,
a:focus {
    text-decoration: none;
}

a img {
    border:none;
}

input {
    height:18px;
    border: 1px solid #d9d9d9;
    font-size:13px;
}

input.checkbox {
    position: relative;
    top:2px;
}

textarea {
    width:100%;
    border: 1px solid #d9d9d9;
    font-size:13px;
}

select {
    height: 20px;
    padding-left: 3px;
    border: 1px solid #d9d9d9;
    line-height: 18px;
    font-size: 13px;
}

/*button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}*/

button {
    height: 20px;
    padding: 0 9px 0 10px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(/static/images/button-simp.gif) repeat-x bottom left;
    font-size: 11px;
    color: #0387d8;
    cursor: pointer;
}

.like-button {
    line-height: 18px;
    padding: 0 8px 0 9px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(/static/images/button-simp.gif) repeat-x bottom left;
    font-size: 11px;
    color: #0387d8;
    text-decoration: none;
}
.button_content {
    color:#0387d8;
    text-decoration:none;
    font-size: 11px;
    height:20px;
    text-align:center;
    display:block;
    line-height:20px;
    background:url('/static/images/button_content.gif') repeat-x top left;
    cursor:pointer;
    float:left;
    padding:0 10px;
    letter-spacing:1px;
    font-family:Arial, tahoma, sans-serif;
}
.button_left{
    background:url('/static/images/button_left.gif') no-repeat top left;
    display:block;
    height:20px;
    float:left;
    width:4px;
}
.button_right{
    background:url('/static/images/button_right.gif') no-repeat top right;
    display:block;
    height:20px;
    float:left;
    padding:0 4px 0 4px;
}
.center {
    text-align: center;
}

.relative {
    position: relative;
    z-index:9000;
}

#wrapperTop {
    position: relative;
}

#wrapperTop,
#afterReg {
    width:950px;
    margin:0 auto;
}

#wrapperBottom {
    width: 100%;
    min-height: 110px;
    background-color: #f2f2f2;
}

#beforeReg {
    width:100%;
    position:relative;
    float:left;
    display:inline;
}

h1#logo {
    position: absolute;
    top: 54px;
    left: 20px;
    font-size: 30px;
    font-weight: normal;
    color:#fff;

}

h1#logo a{
    color:#fff;
    text-decoration: none;
}

#moto {
    position: absolute;
    top:100px;
    left:20px;
    font-size: 18px;
    color:#fff;

}

#topMenu {
    padding-left: 1px;
    margin-top:153px;
    margin-left: 20px;
    float: left;
    display: inline;
    background-color: #fff;
    list-style: none;
    font-size: 12px;
}

#topMenu li{
    margin-right: 1px;
    float:left;
    display: inline;
}

#topMenu a, #topMenu span {
    padding: 0 26px 0 25px;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #eaeaea;
    line-height: 52px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ececec;
    float:left;
    display: inline;
}

#topMenu .currentMenuItem , #topMenu span,
#topMenu a:hover{
    line-height: 53px;
    color:#fff;
    border-left-color: #0486d0;
    border-bottom: none;
    background: url(/static/images/top_menu_active_item.png) no-repeat center center;
}

#userMenu {
    position: absolute;
    top:5px;
    right: 4px;
}

#userMenu li{
    float:left;
    display: inline;
}

#userMenu a, #userMenu b{
    line-height:10px;
    padding:0 18px 0 17px;
    border-right: 1px solid #d9d9d9;
    color: #4f4f4f;
    font-size: 11px;
    text-decoration: none;
    text-transform: capitalize;
}
#userMenu span{
    line-height:10px;
    font-size: 11px;
    color: #4f4f4f;
    padding:0 18px 0 17px;
    border-right: 1px solid #d9d9d9;
}
#userMenu span a{
    font-weight:bold;
    padding:0;
    border:0;
}
#userMenu b{
    padding:0;
    border:0;
}
#userMenu a.notbordered{
    border:none;
}

#userMenu a.last {
    border-right: none;
}

#userMenu a:hover,
#userMenu a:focus{
    text-decoration: underline;
}

#tmBanner {
    position: absolute;
    right: 22px;
    top:61px;
}

#todayDate {
    font-size: 12px;
    font-weight: bold;
    color:#4f4f4f;
    position: absolute;
    top:8px;
    left:32px;
}

#startReg {
    width: 186px;
    padding:35px 0 35px 20px;
    float:left;
    display: inline;
}

#startReg .block {
    padding-right: 24px;
}

#bodyReg {
    width: 468px;
    padding: 35px 30px;
    float:left;
    display: inline;
}

#bodyReg h2, #bodyReg h3{
    color: #0387d8;
}

#endReg {
    width: 190px;
    padding: 35px 0 35px 26px;
    float:right;
    display: inline;
}

.vertical-menu li {
    padding-left: 12px;
    background: url(/static/images/vertical_menu_li.gif) no-repeat 0 7px;
    line-height: 22px;
    list-style: none;
}

.block {
    margin-bottom: 20px;
}

#subscribeEmail {
    width: 160px;
}

#username, #password {
    width: 90px;
    float:right;
    display: inline;
}

#login_button {
    float: right;
    display: inline;
}

#banners {
    margin-bottom:5px;
}

#banners a{
    margin:0 5px 5px 0;
    display:inline-block;
}

#changeCateg {
    width: 158px;
}

.form_block, #seachForms{
    padding: 28px 30px 31px 30px;
    background-color: #f2f2f2;
}

#seachForms p {
    margin-bottom: 4px;
}

#seachForms p.more-margin {
    margin-bottom: 11px;
}


#seachForms label{
    padding-left: 8px;
    width: 92px;
    margin-right: 11px;
    display: inline-block;
    background: url(/static/images/label.gif) no-repeat center left;
}

#seachForms select{
    width: 100px;
    margin-right: 11px;
}

#numberSearch {
    margin-right: 11px;
}

#seachForms input {
    width: 98px;
}

#seachForms #fromPrice,#seachForms #toPrice {
    width: 20px;
    margin: 0;
}

#seachForms #fromLabel {
    width: 32px;
    background: none;
    padding: 0;
    margin: 0;
    text-align:left;
}

#seachForms #toLabel {
    width: 21px;
    background: none;
    padding: 0 0 0 2px;
    margin: 0;
    text-align: center;
}

#freeSearchSubmit,
#premiumSearchSubmit{
    float: right;
    display:inline;
}

#freeForm {
    margin-bottom: 28px;
}

#templatesPreviews, #premiumTemplatesPreviews {
    margin: 30px 0 5px;
}

.templates-row {
    margin-bottom: 10px;
    float: left;
    display: inline;
}

.templates-row.last-row {
    margin-bottom:0;
}

.template-cell {
    width: 145px;
    margin-right: 10px;
    padding: 0 1px;
    float: left;
    display: inline;
    border: 1px solid #d9d9d9;
}

.template-cell.last-in-row {
    margin-right: 0;
}

.template-preview-link {
    width: 145px;
    height: 163px;
    float: left;
    display: inline;
}

.preview-controls {
    width: 145px;
    height: 18px;
    padding-top: 5px;
    float: left;
    display: inline;
    background-color: #0387d8;
}

.preview-controls li{
    line-height: 10px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #fff;
    float:left;
    display: inline;
}

.preview-controls li.last{
    border-right: none;
}

.preview-controls a:link,
.preview-controls a:visited {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}

.preview-controls a:hover,
.preview-controls a:focus {
    text-decoration: none;
}

.template-info {
    width: 135px;
    padding: 11px 0 12px 10px;
    font-size: 11px;
    float:left;
    display: inline;
    position: relative;
}

.template-info dt {
    line-height: 16px;
    margin-right: 3px;
    float:left;
    display: inline;
    clear: left;
}

.template-info dt.templateDT {
    position:absolute;
    left: 10px;
}

.template-info dd {
    line-height: 16px;
    float:left;
    display: inline;
    clear: right;
}

.browseAllTemplates_button {
    margin:20px 0 20px 130px;
}

#afterReg {
    text-align:center;
    padding:40px 0 0 0;
}

#afterReg span{
    height: 12px;
    line-height: 13px;
    border-right: 1px solid #4f4f4f;
    padding: 0 8px 0 9px;
}
#afterReg span.last {
    border-right: none;
}

#templateInfo {
    float: left;
    display: inline;
    margin-bottom: 15px;
}

#templateInfo dt{
    margin-right: 4px;
    margin-bottom: 3px;
    float: left;
    display: inline;
    clear:left;
}

#templateInfo dd{
    margin-bottom: 3px;
    float: left;
    display: inline;
    clear:right;
    font-weight: bold;
}

#templateInfo dd a{
    font-weight: normal;
}

#previewContainer {
    clear:both;
    text-align: center;
    margin-bottom: 15px;
}

#designerNotes {
    padding: 19px 0 17px;
}

#designerNotes h3,#commenntsBlock h3, #relatedTemplates h3 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
    color: #000;
}

#relatedTemplates {
    padding-bottom: 10px;
}

.comment {
    margin-bottom: 17px;
}

.comment-date {
    font-size: 11px;
    font-weight: bold;
    color:#4f4f4f;
    position: relative;
    top: -1px;
}

.comment p {
    margin-bottom: 4px;
}

#aboutComments {
    font-size: 11px;
    line-height: 14px;
}

#templatesPerPage {
   font-size:12px;
   text-align: right;
}

select.counter {
    width: 35px;
    height: 16px;
    padding-left:0px;
    font-size: 11px;
}

.pager {
    padding:10px 0;
    font-size: 12px;
    text-align:right;
    clear: both;
}
.pager span.current{
    font-weight:bold;
}

.premium-links a,
.premium-links b{
    line-height:22px;
    padding-left:12px;
    background:url(/static/images/vertical_menu_li.gif) no-repeat scroll 0 3px;
}

#premiumsFromForeign {
    position: relative;
    left:-18px;
}

.ttfield {
    display: none;
}

.form-field-right {
    width: 300px;
}
.field-right-upload{
    width:300px;
}
.forms-p-right {
    position: relative;
    padding-left:108px;
    padding-bottom: 15px;
}

.forms-p-right label{
    position: absolute;
    left: 0;
    top:2px;
    display: block;
    width: 105px;
}

.forms-p-right input#preview {
    margin-top: 10px;
}

.validator {
    display:none;
}

#antispam-p {
    position: relative;
    padding-left: 208px;
}

#antispamLabel {
    position: absolute;
    left:0;
    top:0;
}

#antispamInput {
    width: 80px;
    position: absolute;
    left: 108px;
    top:0;
}

.validation_errors,
.form_message {
    font-size:11px;
    color: red;
}

.live_chat {
    padding-top: 15px;
}



#registerForm p {
    padding-left:200px;
    position: relative;
}

#registerForm label{
    position: absolute;
    top: 2px;
    left: 0;
}

#registerForm input {
    width: 208px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    #rememberLabel {
	    position: relative;
	    top: -3px;
    }
    select.counter {
        width: 40px;
    }

}
.clearing{
    clear:both;
    height:0;
    width:0;
    line-height:0;
}
#bodyReg .info-content ul, #bodyReg .submit-info, #bodyReg .submit-info li ul{
    padding:10px 0 10px 16px;
}
#bodyReg .submit-info li.with-list{
    list-style:none;
}
.menu ul{
    list-style:none;
}
.menu li {
    background:url("/static/images/menu_arrow.gif") no-repeat scroll 0 5px transparent;
    padding-bottom:8px;
    padding-left:10px;
}
.menu a:hover{
    text-decoration:underline;
}
.form_block button{
    float:right;
}
#changeSettingsForm{
    margin:10px 0 0 0;
}
.forms-p-right input.file {
    width:200px;
    height:22px;
}
#frameContainer{
    background: url(/static/images/header_back.jpg) repeat-x top left #0387D9;
}
#frameContainer #beforeReg{
    height:240px;
}
#frameContainer h1#logo{
    top:15px;
}
#frameContainer #moto{
    top:70px;
}
#frameContainer #tmBanner{
    top:31px;
}
.frame_menu{
    position: absolute;
    top: 10px;
    right:0px;
    left: 0px !important;
    text-align: right;
}
.frame_menu a {
    margin: 0px 8px;
}
.frame_menu img {
    margin-right: 0px !important;
}
.vertical-menu span, .menu_items span{
    font-weight:bold;
}
#register_button, #contactSubmit_button, #updateProfile_button, #changeSettings_button, #retrieval_button, #subscribeSubmit, #submitTemplate_button, #comment_button {
    float:right;
}
#comment_button{
    margin:5px 0 10px 0;
}
span.button_content{
    font-weight:normal;
}
#login_button .button_content{
    padding:0 5px;
}
.note{
    color:red;
}
.downloadsDD, .commentsDD{
    font-weight:bold;
}
#subscribeSubmit{
    margin-top:5px;
}
#subscribeForm p{
    margin-bottom:3px;
}
#editTemplate_button{
    margin:0 0 10px 18px;
}
.important_note{
    font-weight:bold;
}
p.validation_errors{
    text-align:right;
    padding:0;
}
#submitTemplateForm p.validation_errors{
    text-align:left;
    padding-left:108px;
}
#loginContentBlock input#username, #loginContentBlock input#password{
    width:300px;
}
#loginContentBlock p{
    position: relative;
    padding-left:108px;
}
#loginContentBlock #username, #loginContentBlock #password{
    float:none;
    width:300px;
    display:block;
}
#loginContentBlock p label{
    position: absolute;
    left: 0;
    top:2px;
}
#loginFormForgot {
    display: block;
    line-height: 20px;
}
#loginContentBlock #loginFormRegister {
    float: left;
}
#loginContentBlock #loginFormForgot {
    float: right;
    line-height: 13px !important;
}
#download_button{
    padding-left:0;
    background:url('/static/images/button_content_blue.gif') repeat-x top left;
    margin: 5px 0 0 10px;
    float:right;
}
#download_button .button_left_bg{
    background:url('/static/images/button_left_blue.gif') no-repeat top left;
    margin-left: -1px;
    float:left;
}
#download_button .button_right_bg{
    background:url('/static/images/button_right_blue.gif') no-repeat top right;
    color: #0387D8;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,tahoma,sans-serif;
    font-size: 11px;
    height: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    margin-right: -1px;
}
.frame_info{
    width: 950px;
    margin:0 auto;
    padding:10px 0 0 0;
    font:bold 14px arial, tahoma;
    color:red;
}

#freeKeywordSearch {
    position: relative;
    top: -1px;
}

.ie-has-pos-child {
    height: 22px;
    z-index: 1;
}

#template_preview_block {
    display:none;
    position:absolute;
    border:1px solid;
    background-color:white;
    padding:0 9px 9px 9px;
    z-index:9999;
}

#template_preview_title {
    margin:0;
    padding:0;
    line-height:30px;
    white-space:nowrap;
    font-size:14px;
}

#progress_bar {
    background: url('/premium/themes/wt-online/images/progress_bar.gif') no-repeat scroll center 30px #EEF6FF;
    border:1px solid #209DEC;
    color:#209DEC;
    font-family:Tahoma,Helvetica,sans;
    font-size:10px;
    left:50%;
    margin-left:-67px;
    padding:10px 10px 30px;
    position:absolute;
    text-align:left;
    top:45%;
    width:125px;
}

.footer_links {
    margin-bottom: 4px;
}

#relatedLinksBlock h2 {
    font-size: 22px;
}

/* -- Search form --> Begin -- */

#search_form select {
    visibility: hidden;
}

#search_form {
    background-color:#F2F2F2;
    padding: 16px 0px 20px 20px;
}

#search_form input {
    font-size:11px;
    height:14px;
    padding:2px 5px;
    line-height:14px;
}

#search_form label {
    line-height:15px;
}

#search_form .newListSelected {
    background:url("/premium/themes/wt-online/images/select_bg.gif") no-repeat scroll 122px center #fff;
    border:1px solid #D9D9D9;
    float:left;
    height:18px;
    line-height:18px;
    margin-right:10px;
    width:134px;
    z-index:1;
}

#search_form .selectedTxt {
    padding:0 19px 0 6px;
    color:#3F3F3F;
    line-height:18px;
    height:19px;
    font-size:11px;
    overflow:hidden;
    z-index:1;
}

#search_form .newList {
    border:1px solid #BFBFBF;
    z-index:9999;
    position:absolute;
    overflow:auto;
    width:180px;
    background:#fff;
    left:-1px!important;;
    display: none;
    overflow-x:hidden;
}

#search_form .newList li {
    display:block;
    padding:0 !important;
}

#search_form .newList a {
    color:#3F3F3F;
    display:block;
    font-size:11px;
    line-height:15px;
    padding-left:6px;
    text-decoration:none;
}

#search_form .newListHover {
    background:#ECECEC;
}

.first_label_row,
.second_label_row {
    clear:both;
    overflow:hidden;
    padding-bottom:8px;
}

.isIE6 .first_label_row,
.isIE6 .second_label_row {
    display:inline-block;
}

.first_input_row,
.second_input_row {
    clear:both;
}

.isIE6 .first_input_row {
    padding-bottom:5px;
    float:left;
}

.isIE6 .second_input_row {
    padding:0;
    display:inline-block;
}

#search_form .first_label_row label,
#search_form .second_label_row label {
    background:url("/premium/themes/wt-online/images/label_bg.gif") no-repeat scroll 0 4px transparent;
    padding-left:8px;
    width:128px;
    margin-right:10px;
    float:left;
}

#search_form .first_label_row label.last {
    margin-right:0;
}

#search_form .first_input_row .last {
    margin-right:0;
}

#search_form .second_input_row input {
    float:left;
}

#search_form .second_input_row label {
    float:left;
    line-height:18px;
    padding:0 5px 2px 2px;
}

#search_form .second_input_row label.last {
    padding-left:5px;
}

#search_by_keyword {
    width:124px;
    margin-right:10px;
}

.first_input_row {
    padding-bottom:10px;
}

#search_by_price_from,
#search_by_price_to {
    width:29px;
}

#search_by_price_to {
    margin-right:10px;
}

#search_form #search_submit {
    background:url("/premium/themes/wt-online/images/search_button_bg.gif") no-repeat scroll 0 0 transparent;
    width:75px;
    height:20px;
    float:left;
    border:none;
    cursor:pointer;
}

/* -- Search form --> End -- */

#browseAllPremiumTemplates_buttonId {
    margin-top: 15px;
}

.premiumLink {
    margin: 10px 0 10px 0;
    display: block;
    text-align: right;
}

/* -- Templates --> Begin -- */

#templatesPreviews .message {
    color:red;
    font-weight:bold;
}

#wrapperTop {
    position:relative;
}

#templatesPreviews {
    margin-top:5px;
}

#templatesPreviews h2 {
    padding:10px 0;
    margin:0;
    clear:both;
}

.template-preview-link {
    position:relative;
    overflow:hidden;
}

.template-preview-link img {
    position:absolute;
    bottom:2px;
    left:0;
}

.preview-controls li {
    text-align:center;
    width:42px;
}

.template-info {
    width:125px;
    padding:6px 10px 5px 10px;
}

.template-info dd {
    float:none;
    display:block;
}

.isIE6 .template-info dt,
.isIE7 .template-info dt {
    white-space:nowrap;
}

.template-prices {
    padding-top:5px;
    border-top:1px dotted #D9D9D9;
}

.template-prices dd {
    float:right;
}

#browse_premium_templates {
    text-decoration:none;
    margin-left:115px;
}

#price-description {
    display:block;
    position:absolute;
    width:300px;
    visibility:hidden;
    left:-1000px;
    top:-1000px;
    padding:5px;
    font-size:11px;
    color:#5E5E5E;
    border:1px solid #CCCBCB;
    background-color:#fff;
    line-height:13px;
    z-index:9999;
}


#template_preview_block {
    display:none;
    position:absolute;
    border:1px solid;
    background-color:white;
    padding:0 9px 9px 9px;
    z-index:9999;
}

#template_preview_title {
    margin:0;
    padding:0;
    line-height:30px;
    white-space:nowrap;
    font-size:14px;
}

/* -- Templates --> End -- */

#frameContainer #popup_banner {
    margin-left: -234px;
    width: 468px;
    height:300px;
    display:none;
}

#frameContainer #popup_banner .templates-row {
    background-color: #FFFFFF;
    margin-bottom: 0px;
}

#frameContainer #popup_banner .preview-controls {
    background-color: #666666;
}

#frameContainer #popup_banner_top {
    line-height:0;
}

#frameContainer #close_button {
    left: 50% !important;
}

#frameContainer #popup_banner .template-cell {
    border: 1px solid #FFFFFF;
}
#close_button {
    left: 66px !important;
}

#dreamstime-widget {
    padding: 10px 0px 20px 0px;
    background-color:#fff;
}
#dreamstime-widget .bdg_imgpad {
    padding: 10px 1px !important;
}
#dreamstime-widget h3 {
    margin-bottom: 10px;
    display: block;
    text-align: left;
}
#dreamstime-widget h3 a {
    color: #4F4F4F;
    text-decoration: none;
}
#dreamstime-widget .gallery {
    border:1px solid #E7E7E7;
    background-color:#fff;
    text-align: center;
    padding: 10px;
}
#dreamstime-widget .cb_logo {
    display: inline !important;
    margin: 2px 0px 0 0 !important;
}
#dreamstime-widget .bdg_widther {
    margin: 0px 5px !important;
}

#dreamstime-widget-wide {
    padding: 15px 0px;
    text-align: center;
    background: none;
}
#dreamstime-widget-wide .bdg_imgpad {
    padding: 10px 1px !important;
}
#dreamstime-widget-wide h3 {
    margin-bottom: 10px;
    display: block;
    text-align: left;
}
#dreamstime-widget-wide h3 a {
    color: #4F4F4F;
    text-decoration: none;
}
#dreamstime-widget-wide .gallery {
    border:1px solid #E7E7E7;
    background-color:#fff;
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    width: 938px;
}
#dreamstime-widget-wide .cb_logo {
    display: inline !important;
    margin: 0px !important;
}
#dreamstime-widget-wide .bdg_widther {
    margin: 0px 5px !important;
}

#preview_page #dreamstime-widget-wide {                                                                                                    
    padding: 15px 0px 0 0px;
    text-align: center;                                                                                                      
    background: #fff;                                      
} 
#preview_page #dreamstime-widget-wide .gallery {
    width: auto;
}
#preview_page #dreamstime-widget-wide h3 {
    padding: 0px;
    margin-bottom: 10px;
}
#frameContainer #dreamstime-widget-wide {
    position: absolute;
    top: 50px;
    left: 0px;
}
#frameContainer #dreamstime-widget-wide .gallery {
    padding: 5px 5px;
    width: auto;
}
#frameContainer #dreamstime-widget-wide h3 {                                                                                   
    padding: 0px;                                                                                                            
    margin-bottom: 0px;                                                                                                     
}

p.link {
    display: none;
}

.download_message {
    background: #ffffba;
    color: #0387D8;
    text-align: center;
    padding: 16px 10px 10px;
    font-size: 16px;
    margin: 7px 0 14px;
    line-height: 16px;
}

.news {
    color: #000;
}

.news .heading {
    text-align: center;
}

.news .info {
    padding: 30px 0 26px 0;
    border-top: 1px solid #e7e5dd;
    font-size: 12px;
}

.news .info:first-child {
    border-top: none;
}

.news .info a {
    color: #000;
}

.news .info .h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
}

.news .info p {
    line-height: 18px;
    margin-bottom: 10px;
}

.news .info .controls {
    display: block;
    margin: -5px 0 8px 0;
}

.news .info .controls a {
    color: #178BCE !important;
    line-height: 12px;
    margin: 0 5px;
    padding: 4px 0 2px 20px;
}

.news .info .controls a:first-child {
    margin-left: 0;
}

.news .info .tw {
    background: url("/static/images/share-twitter.gif") no-repeat scroll left center transparent;
    padding-left: 23px;
}

.news .info .fb {
    background: url("/static/images/share-facebook.gif") no-repeat scroll left center transparent;
    padding-left: 23px;
}

.news .info .comments {
    background: url("/static/images/comment.png") no-repeat scroll left 4px transparent;
}

.news .info .bury {
    background: url("/static/images/cross.png") no-repeat scroll left 4px transparent;
}

.news .info .summary {
    background: url("/static/images/summary-marker.gif") no-repeat scroll left center transparent;
    font-weight: bold;
    padding-left: 11px;
}